@font-face {
    font-family: "Roc Grotesk";
    src: url("~/assets/fonts/RocGrotesk/Roc_Grotesk_Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roc Grotesk";
    src: url("~/assets/fonts/RocGrotesk/Roc_Grotesk_Bold.ttf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roc Grotesk";
    src: url("~/assets/fonts/RocGrotesk/Roc_Grotesk_ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roc Grotesk";
    src: url("~/assets/fonts/RocGrotesk/Roc_Grotesk_Medium.ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roc Grotesk";
    src: url("~/assets/fonts/RocGrotesk/Roc_Grotesk_Thin.ttf");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roc Grotesk";
    src: url("~/assets/fonts/RocGrotesk/Roc_Grotesk_Light.ttf");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roc Grotesk";
    src: url("~/assets/fonts/RocGrotesk/Roc_Grotesk_Heavy.ttf");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "Roc Grotesk";
    src: url("~/assets/fonts/RocGrotesk/Roc_Grotesk_ExtraLight.ttf");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("~/assets/fonts/Montserrat/Montserrat_Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("~/assets/fonts/Montserrat/Montserrat_SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
