@import 'fonts.scss';

.top-section{
    padding-top: 6rem;
}

.icon-in-button {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

body {
    font-family: 'Roc Grotesk', sans-serif;
}

.fs-18px {
    font-size: 18px;
}
